section.page-section.slider-button {
    min-height: 0 !important;
}
section.page-section.slider-button .content-wrapper{
    top: 0;
  	opacity: 1;
    transition: all 2s cubic-bezier(.2,1,.3,1) 0ms;
}
section.page-section.slider-button-top .content-wrapper {
    padding-bottom: 0 !important;
}
section.page-section.slider-button-top.scroll-hidden .content-wrapper {
  	opacity: 0;
    top: 5rem;
}
section.page-section{
	z-index:2;  
}
section.page-section.slider-button-bottom{
	z-index:1;
}
section.page-section.slider-button-bottom .content-wrapper {
    top: -5rem;
  	opacity: 0;
    padding-top: 17px !important;
}
section.page-section.slider-button-bottom.scroll-visible .content-wrapper {
  	opacity: 1;
    top: 0;
}
  

 @media screen and (max-width: 767px){
   section.page-section.slider-button-top{
    display: none; 
   }
   section.page-section.slider-button-bottom{
    margin-bottom: 60px; 
   }
   section.page-section.slider-button-bottom .content-wrapper{
    opacity: 1; 
    top: 0;
   }
   section.page-section.slider-button .content-wrapper{
    transition: none; 
   }
  }